body{
  background-image: url(Imagenes/PokeballFondo.png);
  background-size: cover;
  height: 1200px;
}

#div_equipos{
  display: inline-flex;
  width: 500px;
}

h1{
  background-color: white;
  display: inline-table;
  margin: 0%;
  margin-top: 20px;
}

#statsTabla{
  margin: 0%;
  border: black;
  background-color: white;
  width: 125px;
  padding-left: 5px;
  padding-right: 20px;
  border-style: solid;
  border-width: thin;
}

.botonEquipo{
  display: inline-flex;
  margin-left: 100px;
}
