body{
  background-image: url(Imagenes/PokeballFondo.png);
  background-size: cover;
  height: 1200px;
}

#div_equipos{
  display: inline-flex;
  width: 500px;
}

h1{
  background-color: white;
  display: inline-table;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
  width: 173px;
}

.Tabla{
  margin: 0%;
  background-color: white;
  margin-left: 5px;
  padding: 0px;
  width: 173px;
  height: 378px;
}

.botonEquipo{
  display: inline-flex;
  margin-left: 100px;
}

