li{
    display: flex;
    padding: 15px;
}
#botonPKM{
    width: 350px;
    text-align: left;
}

.btnTXT{
    display: inline-flex;
    font-weight: bold;
    font-size: x-large;
    text-align: left;
    margin-top: 30px;
}

.sprites{  
    float: right;
}